/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.contact-form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    width: 1020px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.contact-form h1,
.contact-form p {
    text-align: center;
    margin-bottom: 20px;
    color: #004d4d;
}

header {
    background: #004d4d;
    color: #fff;
    padding: 0rem 0 !important;
}
.contact-form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: calc(100% - 24px); /* Adjusted width */
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    border-color: #004d4d;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: #004d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #003838;
}
